<div class="center bg-accent1 w-[300px] h-[65px] flex justify-center items-center mx-auto group hover:bg-transparent border border-black transition-all">
  <a href="{{ category.url }}" class="text-white flex justify-center items-center relative font-normal w-full h-full group-hover:text-base-text transition-all">
    <span class="icon-wrap rotate-180 absolute left-8 stroke-white group-hover:left-4 transition-all">{% render 'icon-arrow' %}</span>
    {{ text }}
  </a>
</div>