<div class="w-page-mobile md:w-7/10 md:max-w-[600px] mx-auto pt-12 pb-16">
  <p class="text-16">{{ headline }}</p>
  <h2 class="text-36 mb-6">{{ title }}</h2>
  <div>{{ desc }}</div>
  <div class="text-center md:text-left">
    {% render 'btn-link', btn_link: btn_link, btn_link_text: btn_link_text %}
  </div>
</div>