{%- if article.image -%}
  <a href={{ article.url }} class="group">
    <div class="overflow-hidden">
      <img
        src="{{ article.image.src | image_url: width: 600, height: 400 }}"
        alt="{{ article.image.src.alt | escape }}"
        loading={% if lazy_load == true %}"lazy"{% else %}"eager"{% endif %}
        class="w-full h-[46vw] object-cover group-hover:opacity-60 group-hover:scale-105 transition-all"
      >
      </div>
    <div class="py-4 px-6 relative h-[100px] text-11">
      <p class="lineClamp3 font-semibold  leading-normal">{{ article.title }}</p>
      <div class="flex items-center absolute bottom-6 right-10 group-hover:translate-x-4 transition-all duration-300">
        <span class="uppercase inline-block mr-4 font-bold ">VIEW MORE</span>
        <span>{% render 'icon-arrow-long' %}</span>
      </div>
    </div>
  </a>
{%- endif -%}