<p class="text-center w-[200px] w-[190px] mx-auto">
  <a
    class="uppercase text-12 px-6 py-6 border border-black rounded flex justify-between items-center group hover:bg-accent1 transition-all"
    href="/collections/all/new">
    <span class="inline-block text-base-text text-12 group-hover:text-white">VIEW ALL</span>
    <span class="group-hover:hidden">
      {% render 'icon-arrow-long' %}
    </span>
    <span class="hidden group-hover:inline-block">
      {% render 'icon-arrow-long-w' %}
    </span>
  </a>
</p>