<td class="cart-item__media">
  {% if item.image %}
    {% comment %} Leave empty space due to a:empty CSS display: none rule {% endcomment %}
    <a href="{{ item.url }}" class="cart-item__link" aria-hidden="true" tabindex="-1"> </a>
      <div class="cart-item__image-container global-media-settings">
        <img src="{{ item.image | image_url: width: 300 }}"
          class="cart-item__image"
          alt="{{ item.image.alt | escape }}"
          loading="lazy"
          width="150"
          height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}"
        >
      </div>
  {% endif %}
</td>