<div id="menu-drawer" class="bg-accent1 menu-drawer w-full py-20 px-14 relative">
  <ul>
    {% for link in linklists.main-menu.links %}
      <li class="text-button-label my-4 py-4 text-16">
        <a class="hover:opacity-60 transition-all {% if link.handle == 'category' %}accordionBtn{% endif %} " href="{{ link.url }}">{{ link.title | escape }}</a>
        {% if link.links.size > 0 %}
          <div class="mt-6 mb-4 px-4"> 
            <ul>
              {% for child_link in link.links %}
                <li class="py-2">
                  <a href="{{ child_link.url }}" class=" text-white text-13 hover:opacity-60 transition-all">{{ child_link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% render 'menu-bottom' %}
</div>