{% if tag == 'new' %}
  <label class="bg-accent2 text-white text-10 px-4 py-1 inline-block">NEW</label>
{% elsif tag == 'restock' %}
  <label class="outline outline-[1px] outline-offset-[-1px] text-10 px-4 py-1 inline-block">再入荷</label>
{% endif %}