<!doctype html>
<html class="no-js full-height" lang="{{ request.locale.iso_code }}">
  <head>
    {{ content_for_header }}
    {% render 'password-theme-head' %}
  </head>

  <body class="password">
    <main id="MainContent" class="password-main">
      {{ content_for_layout }}
    </main>
  </body>
</html>
