{% if template == 'index' %}
  {% if section.settings.announcement != blank %}
    <div class="bg-accent1 py-4">
      <p class="text-12 text-white text-center overflow-hidden px-4">{{ section.settings.announcement }}</p>
    </div>
  {% endif %}
{% endif %}

{% schema %}
{
  "name": "announcement_bar",
  "tag": "div",
  "settings": [
    {
      "type": "text",
      "id": "announcement",
      "label": "アナウンス",
      "default": "アナウンスのテキストを入れます"
    }
  ]
}
{% endschema %}
