<style>
  .globo-form-id-70342 .globo-form-app .footer button.submit, .globo-form-id-70342 .globo-form-app .footer button.checkout, .globo-form-id-70342 .globo-form-app .footer button.action.loading .spinner {
      background-color: #828CA3;
      color: #ffffff;
  }
</style>

<div class="contact w-page-mobile"></div>

{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "class": "spaced-section",
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name"
    }
  ]
}
{% endschema %}
