{%- paginate blog.articles by 9 -%}
  <div class="section-{{ section.id }} bg-light-gray py-24 md:py-40">
    <div class="w-page-mobile mx-auto">
      {% render 'blog-page-title', title: blog.title %}
      <ul class="custom-product-grid grid-cols-2 md:grid-cols-3 justify-center">
        {%- for article in blog.articles -%}
          {% assign lazy_load = false %}
          {%- if forloop.index > 2 -%}
            {%- assign lazy_load = true -%}
          {%- endif -%}

          <li class="bg-white mb-12">
            {% render 'featured-article-card', article: article, lazy_load: lazy_load %}
          </li>
        {%- endfor -%}
      </ul>

      {%- if paginate.pages > 1 -%}
        {%- render 'pagination', paginate: paginate -%}
      {%- endif -%}
    </div>
  </div>
{%- endpaginate -%}

{% schema %}
{
  "name": "t:sections.main-blog.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-blog.settings.header.content"
    }
  ]
}
{% endschema %}
