<section>
  <h1>{{ blog.title | escape }}</h1>
  <div>
    {%- for article in blog.articles -%}
        <h2>{{ article.title | escape }}</h2>
    {%- endfor -%}
  </div>
</section>

{% schema %}
{
  "name": "main blog",
  "tag": "section",
  "class": "section"
}
{% endschema %}
