<ul>
  {%- for product in collection.products -%}
    <li>
      <a href="{{ product.url }}">
        {{ product.title }}
      </a>
    </li>
  {%- endfor -%}
</ul>

{% schema %}
{
  "name": "main collection",
  "class": "section"
}
{% endschema %}