<ul>
  {%- for product in collection.products -%}
    <li>
      {% render 'card-product', card_product: product, lazy_load: true %}
    </li>
  {%- endfor -%}
</ul>

{% schema %}
{
  "name": "main collection",
  "class": "section"
}
{% endschema %}