<div>
  {% if section.settings.title != blank %}
    <h2 class="text-40 text-center product-recommendations__heading h2">{{ section.settings.title }}</h2>
  {% endif %}
  <div>
    <style scoped>
      .spr-container,
      .spr-review,
      .spr-form {
        border-style: none;
      }
    </style>
    <div id="shopify-product-reviews" data-id="{{ product.id }}">
      {{ product.metafields.spr.reviews }}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "商品レビュー",
  "class": "reviews",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "タイトル",
      "default": "REVIEWS"
    }
  ],
  "presets": [
    {
      "name": "商品レビュー",
      "category": "top"
    }
  ]
}
{% endschema %}