<div class="pt-32 pb-40 w-page-mobile">  
  {% render 'category-menu', menulink: linklists.category-menu.links %}
</div>

{% schema %}
{
  "name": "section category masonry",
  "class": "sectionCategoryMasonry",
  "tag": "section",
  "settings": [

  ],
  "presets": [
    {
      "category": "top",
      "name": "Section カテゴリー masonry"
    }
  ]
}
{% endschema %}