<div class="pt-32 pb-40 w-page-mobile">  
  {% render 'category-menu', menulink: linklists.category-menu.links %}
</div>

{% schema %}
{
  "name": "sec category 2 column",
  "class": "sectionCategoryTwoColumn",
  "tag": "section",
  "settings": [

  ],
  "presets": [
    {
      "category": "top",
      "name": "Section カテゴリー"
    }
  ]
}
{% endschema %}