<div class="pt-20 pb-60 w-page-mobile mx-auto">
  {% if section.settings.title != blank %}
    <h3 class="text-center mb-10 text-36">{{ section.settings.title }}</h3>
  {% endif %}
  
  {% render 'category-menu', menulink: linklists.category-menu.links %}
</div>

{% schema %}
{
  "name": "Top カテゴリー",
  "class": "topCategory",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "タイトル",
      "default": "Category"
    }
  ],
  "presets": [
    {
      "category": "top",
      "name": "Top カテゴリー"
    }
  ]
}
{% endschema %}