<div class="swiper-top-fv-hero-img w-full h-screen relative">
  <ul class="swiper-wrapper">
    <li class="swiper-slide">
      <a href="/">
        <img src="{{ 'temp.jpg' | asset_img_url: "large" }}" alt="" loading="eager" class="w-full h-full object-cover" >
      </a>
    </li>
    <li class="swiper-slide">
      <a href="/">
        <img src="{{ 'temp.jpg' | asset_img_url: "large" }}" alt="" loading="eager" class="w-full h-full object-cover" >
      </a>
    </li>
  </ul>
  <div class="swiper-pagination-top-fv-hero-img"></div>

  <div class="w-9/10 absolute top-1/2 left-[5vw] z-10 text-white">
    <p>headline</p>
    <h2 class="text-40">Featured Product</h2>
    <p>example description </p>
    <div>view more</div>
  </div>
</div>

<script>
  let heroImgSwiper = new Swiper(".swiper-top-fv-hero-img", {
    direction: 'horizontal',
    loop: true,
    autoplay: {
      delay: 2800,
    },
    speed: 800,
    pagination: {
      el: '.swiper-pagination-top-fv-hero-img',
    },
  })
</script>

{% schema %}
{
  "name": "Top メインビジュアル hero img",
  "class": "fvHeroImg",
  "tag": "section",
  "settings": [

  ],
  "presets": [
    {
      "category": "top",
      "name": "Top メインビジュアル hero img"
    }
  ]
}
{% endschema %}