<div class="swiper-top-fv-4columns w-full h-auto min-h-[70vh] overflow-x-hidden">
  <ul class="swiper-wrapper">
    <li class="swiper-slide">
      <a href="/" class="">
        <figure class="relative w-full h-full">
          <img src="{{ 'temp.jpg' | asset_img_url: "large" }}" alt="" loading="eager" class="w-full h-full object-cover" >
          <figcaption class="absolute bottom-4 left-4 text-white">
            <h6 class="text-white">Title</h6>
            <p>category name</p>
          </figcaption>
        </figure>
      </a>
    </li>
    <li class="swiper-slide">
      <a href="/" class="">
        <figure class="relative w-full h-full">
          <img src="{{ 'temp.jpg' | asset_img_url: "large" }}" alt="" loading="eager" class="w-full h-full object-cover" >
          <figcaption class="absolute bottom-4 left-4 text-white">
            <h6 class="text-white">Title</h6>
            <p>category name</p>
          </figcaption>
        </figure>
      </a>
    </li>
  </ul>

  <div class="swiper-pagination-top-fv-4columns"></div>
</div>

<script>
  let columnsSwiper = new Swiper(".swiper-top-fv-4columns", {
    direction: 'horizontal',
    loop: true,
    autoplay: {
      delay: 2800,
    },
    speed: 800,
    pagination: {
      el: '.swiper-pagination-top-fv-4columns',
    },
  })
</script>

{% schema %}
{
  "name": "Top メインビジュアル 4columns",
  "class": "fvFourColumns",
  "tag": "section",
  "settings": [

  ],
  "blocks": [
    {
      "type": "fv_4columns_section",
      "name": "fv_4columns_section",
      "limit": 4,
      "settings": [
        {
          "type": "image_picker",
          "id": "cover_image",
          "label": "背景画像"
        },
        {
          "type": "text",
          "id": "title",
          "label": "タイトル",
          "default": "MEN"
        },
        {
          "type": "text",
          "id": "headline",
          "label": "見出し",
          "default": "2021 SS Collection"
        },
        {
          "type": "url",
          "id": "url",
          "label": "リンク",
          "default": "/"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "top",
      "name": "Top メインビジュアル 4columns"
    }
  ]
}
{% endschema %}