<div class="py-section-my w-full md:flex md:items-center">
  <div class="relative min-h-[50vw] flex justify-center items-center md:w-1/2">
    <img src="{{ 'temp.jpg' | asset_img_url: "large" }}" width="1000" height="1000" alt="" loading="eager" class="w-full h-full object-cover absolute top-0 left-0" >
    {% if section.settings.headline != blank %}
      <h2 class="mb-4 relative text-white">{{ section.settings.headline }}</h2>
    {% endif %}
  </div>

  {% assign collection = collections[section.settings.collection] %}
  <div class="swiper-product-two-columns relative overflow-x-hidden py-10 md:py-0 w-9/10 mx-auto md:w-1/2 md:px-16">
    <ul class="swiper-wrapper">
      {%- for product in collection.products limit: 20 -%}
        {% if product.available %}
          <li class="mb-20 swiper-slide">
            {% render 'card-product', card_product: product, lazy_load: true %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    <span class="swiper-button-prev z-header"></span>
    <span class="swiper-button-next"></span>
  </div>
</div>

<script>
  let productTwoColumnSwiper = new Swiper(".swiper-product-two-columns", {
    direction: 'horizontal',
    disableOnInteraction: true,
    slidesPerView: 2,
    spaceBetween: 10,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  })
</script>

{% schema %}
{
  "name": "Top プロダクト two columns",
  "class": "topProductTwoColumns",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "collection",
      "label": "コレクション",
      "default": "all-products"
    },
    {
      "type": "text",
      "id": "headline",
      "label": "headline",
      "default": "Best Selling (2columns)"
    }
  ],
  "presets": [
    {
      "category": "top",
      "name": "Top プロダクト two columns"
    }
  ]
}
{% endschema %}