<div class="relative">
  <video width="320" height="240" autoplay loop muted class="w-full h-screen object-cover">
    <source src="{{ 'temp.mp4' | asset_url }}" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <div class="w-9/10 absolute top-1/2 left-[5vw] z-10 text-white">
    <p>headline</p>
    <h2 class="text-40">Featured Product</h2>
    <p>example description </p>
    <div>view more</div>
  </div>
</div>

{% schema %}
{
  "name": "Top メインビジュアル hero mov",
  "class": "fvHeroMov",
  "tag": "section",
  "settings": [

  ],
  "presets": [
    {
      "category": "top",
      "name": "Top メインビジュアル hero mov"
    }
  ]
}
{% endschema %}