<div class="">
  <a href="/">
    <div class="w-full">
      <img src="{{ 'temp.jpg' | asset_img_url: "large" }}" alt="" loading="eager" class="w-full h-full object-cover" >
    </div>
    <div class="w-9/10 mx-auto py-8">
      <p>headline</p>
      <h2>Featured Product</h2>
      <p>example description</p>
      <div>view more</div>
    </div>
  </a>
</div>

{% schema %}
{
  "name": "Top メインビジュアル img half",
  "class": "fvImgHalf",
  "tag": "section",
  "settings": [

  ],
  "presets": [
    {
      "category": "top",
      "name": "Top メインビジュアル img half"
    }
  ]
}
{% endschema %}