<div>
  <img src="{{ 'default.jpg' | asset_img_url: "large" }}" alt="default" loading="lazy" width="800" height="800" >
</div>

{% schema %}
{
  "name": "Hero Image",
  "class": "fvHeroImg",
  "tag": "section"
}
{% endschema %}