/* policyは対応するテンプレートがないため、theme.liquidで読み込む */

.shopify-policy__container {

    margin-left: auto;

    margin-right: auto;

    width: 90%;

    max-width: none;

    padding-left: 0px;

    padding-right: 0px;

    padding-top: 60px;

    padding-bottom: 60px
}

@media (min-width: 768px) {

    .shopify-policy__container {

        padding-top: 80px;

        padding-bottom: 80px
    }
}

.shopify-policy__title {

    display: none !important
}

.shopify-policy__body {

    margin-left: auto;

    margin-right: auto;

    max-width: 980px
}

.shopify-policy__body .rte h1 {

    margin-bottom: 2rem;

    text-align: center;

    font-size: 2.8rem
}

.shopify-policy__body .rte h2 {

    margin-top: 4rem;

    margin-bottom: 0.5rem;

    font-size: 2.4rem;

    line-height: 1.5
}

.shopify-policy__body .rte p, 
.shopify-policy__body .rte a {

    line-height: 1.5
}

.shopify-policy__body .rte a {

    -webkit-text-decoration-line: underline;

            text-decoration-line: underline;

    transition-property: all;

    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    transition-duration: 200ms
}

.shopify-policy__body .rte a:hover {

    opacity: 0.6
}
