.product-recommendations {
  display: block;
}

.product-recommendations:not(.product-recommendations--loaded) {
  padding: 0;
  margin: 100px auto;
}

.product-recommendations__heading {
  margin: 0;
  margin-bottom: 1rem;
}
