#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}
body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
}
body {
  background: #000;
  color: #000;
}
.swiper {
  margin-left: 0;
  margin-right: 0;
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  background-size: cover;
  background-position: center;
}
.swiper-fade .swiper-free-mode .swiper-slide {
  transition-timing-function: ease-out;
}
.swiper-fade .swiper-slide {
  pointer-events: none;
  transition-property: opacity;
}
.swiper-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}
.swiper-slide-active,
.swiper-slide-active .swiper-slide-active,
.swiper-fade .swiper-slide-active {
  pointer-events: auto;
  z-index: 10;
}
.mySwiper {
  box-sizing: border-box;
}
.mySwiper .swiper-slide {
  opacity: 0.4;
}
.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}
.mySwiper2 {
  max-height: 100vh;
}
.mySwiper2 .swiper-slide {
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
}
.swiper-button-prev,
.swiper-button-next {
  margin-top: revert;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
