#fvLogoIcon {
  opacity: 0; /* default */
}
.fvTopLogoIcon {
  pointer-events: none;
  position: absolute;
  top: 4rem;
  left: 5rem;
  left: 50%;
  z-index: 2;
  width: 300px;
  width: 50%;
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.bgSwiper {
  width: 100%;
  height: min(55vw, calc(100vh - 44px - 100px)); /* subtract menubar height */
  opacity: 0; /* default */
}
.bgSwiper img {
  filter: grayscale(1) contrast(1.1) brightness(0.98);
}
.frontSwiper {
  width: 65vw;
  height: auto;
  max-height: calc(88vh - 44px - 100px); /* subtract menubar & logo height */
  aspect-ratio: 3/2;
  transform: translate3d(-50%, 50px, 0);
  position: absolute !important;
  left: 50%;
  bottom: -20px; /* default */
  opacity: 0; /* default */
}
.frontSwiper .swiper-slide:hover img {
  transform: scale(1.05);
  overflow: hidden;
}
@media (max-width: 739px) {
  .bgSwiper {
    height: auto;
    height: 125vw;
  }
  .frontSwiper {
    width: 74vw;
    aspect-ratio: 28/39;
    transform: translate3d(-50%, 50px, 0);
  }
}
.swiper-pagination {
  z-index: 1 !important;
  opacity: 0; /* default */
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -80px !important;
}
.swiper-pagination-bullet {
  width: 30px !important;
  height: 2px !important;
  background: white !important;
  margin: 0 1px !important;
  border-radius: 0 !important;
}
.frontSwiper .swiper-slide img {
  filter: grayscale(1);
  transition: filter 0.6s ease-in-out, transform 0.3s ease-in-out;
}
.frontSwiper .swiper-slide-active img {
  filter: grayscale(0);
}
.swiper-slide .frontSwiperOnText {
  opacity: 0;
  transition: 0.4s ease-in;
  transition-delay: 0.25s;
}
.swiper-slide-active .frontSwiperOnText {
  opacity: 1;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  mix-blend-mode: difference;
}
