.activeCatList {
  color: black;
  border-bottom: 1px solid black;
}
.categoryNameUl {
  @apply w-full grid grid-flow-col sm:grid-flow-row grid-flow-row sm:grid-cols-4 grid-cols-2 justify-center;
  transition: 0.3s ease-in-out;
  opacity: 0;
  transform: translate3d(-50%, 0, 0);
  visibility: hidden;
  position: absolute;
  left: 50%;
}
.categoryNameUl.active {
  opacity: 1;
  transition-delay: 0.25s;
  visibility: visible;
}
