@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/screens";

.h0 {
  @apply text-v-h0-s md:text-v-h0;
}
h1,
.h1 {
  @apply text-v-h1-s md:text-v-h1;
}
h2,
.h2 {
  @apply text-v-h2-s md:text-v-h2;
}
h3,
.h3 {
  @apply text-v-h3-s md:text-v-h3;
}
h4,
.h4 {
  @apply text-v-h4-s md:text-v-h4;
}
h5,
.h5 {
  @apply text-v-h5-s md:text-v-h5;
}
h6,
.h6 {
  @apply text-v-h6-s md:text-v-h6;
}

.h0,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
}

.custom-product-grid {
  @apply grid gap-x-mb-h gap-y-mb-v md:gap-x-dt-h md:gap-y-dt-v;
}

.hideScrollBar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hideScrollBar::-webkit-scrollbar {
  display: none;
}

.numberUl {
  counter-reset: number 0 !important;
}
.numberLi::after {
  @apply absolute top-0 left-0 bg-accent1 text-white text-24  w-[35px] h-[35px] flex justify-center items-center;
  @apply sm:text-20 sm:w-[32px] sm:h-[32px];
  @apply text-12 w-[22px] h-[22px];
  content: "";
  counter-increment: number 1 !important;
  content: counter(number) !important;
}

.icon-w svg path {
  fill: white;
}

.lineClamp2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.lineClamp3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
